.show-container{
    margin: 4%;
    display: flex;
    justify-content: space-between;
}

.ingredients{


  h2{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    margin-top: 16px;
  }
  a{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    text-align: right;
    font-size: 11px;
    text-align: center;
    margin: 4px;
  }

  button {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    text-align: right;
    font-size: 11px;
    text-align: center;
    margin: 4px;
  }

  p {
    font-family: 'Quicksand';

  }
}

.ingredient{
  display: flex;
  justify-content: space-between;

  .delete{
    color: black;
    transition: 1s;
  }

  .delete:hover {
    color: grey;
  }
}

.links{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.cocktail-image-show{
  height:70vh;
  width: 100%;
  background-size: cover;
  margin-right: 8px;
  box-shadow:
    4px 4px 8px grey,
    inset 0 0 0 15px white;
}

.cocktail-image-show-container{
  height: 70vh;
  width: 100%;
  background-size: cover;
  margin-right: 8px;
  box-shadow:
    4px 4px 8px grey,
    inset 0 0 0 15px white;
}

.header{
  font-size: 60px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 8px;
  text-align: center;

}

.star-average{
  letter-spacing: 10px;
  font-family: 'Bebas Neue', cursive;
}

.modal-title{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 4px;
  font-size: 24px;
}

.carousel-cocktails {
  background:l inear-gradient(315deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7));

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}

.carousel-inner {
  height: 100%;
}
