.card {
    width: 400px;
    height: 300px;
    box-shadow: 4px 4px 8px grey;
    margin: 24px;
    padding: 8px;

  .cocktail {
    width: 100%;
    height: 200px;
    object-fit: cover;
    opacity: 0.7;
    padding-bottom: 2px;
    border-bottom: 2px solid black;

  }
  h4 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    color: black;
    margin-top: 8px;
    letter-spacing: 4px;

  }

  a{
    font-size: 30px;
    color: black;
    transition: color 1s;
    text-decoration: none;
    text-align: right;
    transition: 1s;
  }

  a:hover{
    color: rgb(180, 180, 180);
  }
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dots {
  bottom: 8px;
  right: 8px;
  position: absolute;
}


