#logo-main {
  padding: 20px;
  width: 300px;
  height: 300px;
  filter: brightness(50%);
}

.home-logo {
  filter: brightness(50%);
  width: 36%;
  height: auto;
  margin: 24px;

}

.darken {
  filter: brightness(50%);
}
